---
---

@import 'main';

/* append your custom style below */
main {
  direction: rtl;
}

.site-title {
  direction: rtl;
}

#archives {
  direction: ltr;
}

search {
  direction: rtl;
}

.language-sh {
  direction: ltr;
}
